/* Font Styles */
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Roboto&display=swap");

/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

/* Header Styles */
header {
  background-color: #212121;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  position: fixed;
  width: 100%;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Section Styles */
section {
  display: none;
  align-items: center;
  padding: 60px 30px 30px;
  /* height: calc(100vh - 100px); Take up all available screen height */
  overflow: auto; /* Enable vertical scrolling if needed */
}

section.active {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}

section h2 {
  text-align: center;
  font-size: 36px;
  color: #212121;
  margin-bottom: 20px;
}

section h3 {
  font-size: 28px;
}

section h3,
section h4 {
  text-align: center;
}

section p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 600px;
  text-align: justify;
}

/* Fashion Tip Styles */
.fashion-tip {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.fashion-tip .article-image,
.fashion-tip p {
  margin: 10px;
}

/* Image Styles */
.body-type-image {
  max-width: 300px;
  /* margin-right: 50px; */
}

.article-image {
  max-width: 250px;
  height: auto;
}

/* Hourglass Styles */
#hourglass {
  background-color: #f3e5f5;
}

/* Apple Styles */
#apple {
  background-color: #ffcdd2;
}

/* Inverted Triangle Styles */
#inverted-triangle {
  background-color: #ffecb3;
}

/* Rectangle Styles */
#rectangle {
  background-color: #f0f4c3;
}

/* Triangle/Pear Styles */
#pear {
  background-color: #bbdefb;
}
