/* Font Styles */
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Roboto&display=swap");

/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

/* Header Styles */
header {
  background-color: #212121;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  position: fixed;
  width: 100%;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Section Styles */

.results {
  padding: 70px;
  border: 2px solid red;
  box-sizing: border-box;

  width: 100vw;
  min-height: 50%;

  display: flex;
  flex-direction: column;
}

.tips {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding: 20px;
  border: 2px solid rgb(201, 169, 118);
  margin: 10px 0;
}

.image {
  width: 35%;
  text-align: center;
  background-color: silver;
}

.content {
  width: 28%;
  border: 2px dotted grey;
  padding: 10px;
}

.link {
  display: block;
}

/* SUBSCRIBE FORM */

.form {
  width: 40%;
  background-color: rgb(201, 169, 118);
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.form__title {
  margin-top: 0;
}

.form__subtitle {
  margin: 10px 0 25px;
  font-size: 1.2rem;
  color: grey;
  text-transform: uppercase;
}

.form__label {
  margin: 5px 0;
  width: 100%;
  font-weight: bold;
}

.form__input {
  margin: 5px 0 10px;
  width: 100%;
  max-width: 250px;

  padding: 10px 15px;
  border-radius: 5px;
}

.form__submit {
  width: 250px;
  margin-top: 20px;

  padding: 10px 15px;
  border-radius: 5px;

  text-transform: uppercase;
  font-weight: bold;
  background-color: black;
  color: whitesmoke;
}

.form__submit:hover {
  background-color: rgb(49, 49, 49);
}

/* Hourglass Styles */
#hourglass {
  background-color: #f3e5f5;
}

/* Apple Styles */
#apple {
  background-color: #ffcdd2;
}

/* Inverted Triangle Styles */
#inverted-triangle {
  background-color: #ffffff;
}

/* Rectangle Styles */
#rectangle {
  background-color: #f0f4c3;
}

/* Triangle/Pear Styles */
#pear {
  background-color: #bbdefb;
}
