.blog-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  padding: 70px 50px;
}

.blog-post {
  width: 100%;
  max-width: 1024px;
}

.blog-post>h2,
.blog-post>h3 {
  color: var(--beige);
}

.blog-post>img {
  margin: 2% 0;
}

.blog-post>p {
  text-align: justify;
}

.products {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1024px;
}

.product-card {
  max-width: 25%;
  padding: 10px;
}

.product-card:hover {
  padding: 2px;
}

.product-card>img {
  max-width: 100%;
}

.product-tags {
  font-size: x-small;
}