.blog-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 70px 50px;
}

.blog-post {
  width: 100%;
}

.blog-post__title {
  color: var(--beige);
}

.blog-post__image {
  margin: 2% 0;
}

.blog-post__text {
  text-align: justify;
}
